# All logs
*.log

# Excel file without macros
priprava_2021.xlsx

# File with passwords to Excel workbook
.passwd

# A script that is running on NAS station
.synology_task.sh
.synology_task_playoff.sh
.synology_task_stream.sh

# A script that pulls from GitHub to local folder
.github_pull.sh